#wrapper {
	width: 100%;
	border-radius: 1em;
	margin: 0em auto;
	padding: 1em;
	background-color: #fff;
	text-align: left;
}

p { 
	font-size: 1em;
}

/* Game Tabs  */
#gameTabs {
	padding: 0;
}

#gameTabs li {
	display: inline-block;
	width:  15%;
	padding: 0.5em;
	background: #fff;
	border-radius: 4px 4px 0 0;
	font-weight:bold;
	list-style: none;
	cursor: pointer;
	margin-right: 0.4em;
	text-align: center;
	border-color: #A3A5A9;
	border-width: 1px 1px 0 1px;
	border-style: solid;
    border-bottom: 1px solid #fff;
}

#gameTabs li:last-of-type {
	margin-right: 0;
}

/* Game Details Section  */
game_details {
	width:60%;
	display: inline-block;
}

.gameDetails {
	background: #fff;
	width: 50%;
	display: none;
	padding: 1em
}

h1.gameTitle {
	font-size: 1.14285714em;
	margin: 5px;
	color: #3d5023;
}


.selectedGame  {
	display: block;
}

.drawNumbers input {
	text-align: center;
	font-weight: bold;
	color: #000;
}

#bonusNumber {
	background-color: #C31F3A;
	color: #fff;
	display: inline-block;
	text-align: center;
}

.drawPool {
	width: 100%;
	margin: 10px 0;
}

.drawPool button {
	width: 8.33%
}

.bonusPool.selectedNumber, 
.selectedNumber {
	background-color: #2c4a9d;
	color: white;
}

quickpicks a {
	color: black;
	padding: 10px;
	text-decoration: underline;
}

.gameDetailTabs {
	margin: 5px 5px 0 5px;
	padding: 0;
	
}

.gameDetailTabs li {
	box-sizing: border-box;
	display:inline-block;
	list-style: none;
	background-color: #3d5023;
	border-radius: 4px 4px 0 0;
	font-weight: bold;
	color: #fff;
	padding: 3px;
	width: 32%;
	text-align: center;
	margin-right: 1%;
}

.gameDetailTabs li:last-of-type {
	margin-right: 0;
}

.gameDetailTabs li  a{
	color: #fff;
	text-decoration: none;
}

.gameDetailTabs li  a:hover{
	cursor: pointer;
}

.detailsTab {
	border-color: #A3A5A9;
    border-radius: 0 6px 6px;
    box-shadow: 1px 1px 2px 0 #A3A5A9;
    padding: 6px 10px;
	border: 1px solid #808080;
}

.detailsTab img {
	display: inline-block;
	vertical-align: top;
}

.gameInfo {
	width:50%;
	display: inline-block;
	text-align: center;
}

.detailsTab p {
	font-size: 1em;
}

.detailsTab h2 {
	color: #304c9c;
    margin-top: 0px;
	font-size: 1em;
	font-weight: bold;
}

.detailsTab h3{
	color: #304c9c;
    margin-top: 0px;
	font-size:  0.8em;
	font-weight:  bold; 
}

.jackpot,
.drawDate {
	font-size:  1.42857143em;
	color: #f00;
	display: block;
	text-align: center;
}

.saleEndTime {
	color: #f00;
}

.bonusPool {
	background-color: #C31F3A;
	color: #fff;
}

.howToButtons {
	width: 100%;
	margin-top: 5px;
	padding: 5px;
}

.howToButtons a {
	display:  inline-block;
	width: 49%;
	text-align: center;
	background-color: #4ba5dc;
	-webkit-box-shadow: #666 2px 2px 3px;
    -moz-box-shadow: #666 2px 2px 3px;
    box-shadow: #666 2px 2px 3px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    zoom: 1;
    padding: 0.5em;
    font-weight: bold;
    cursor: pointer;
    border: none;
    text-decoration: none;
    color: #fff;
    font-size: 0.9em;
}

.ticketHeader
{
	font-size: 1.5em;
	text-align: center;
}

.previousTicketBtn,
.nextTicketBtn
{
	background-color: #8c0000;
	color:white;
}

.previousTicketBtn
{
	float:left;
}

.nextTicketBtn
{
	float:right;
}

.paginateButtons
{
	margin: 0 0 10px 0;
	float: left;
	width: 100%;
}

.paginateButtons:after
{
	content: "";
	clear:both;
}

/* Add to cart Area */
add-to-cart {
	width:39%;
	display: inline-block;
	vertical-align: top;
	text-align: right;
	position:relative;
	top:50px;
}

add-to-cart  fieldset {
	display: inline-block;
	text-align: left;
	width: 80%;
}

add-to-cart label {
	width: 100%;
	display: block; 
	font-weight: normal;
	margin:0;
}

input[disabled] {
	background-color: rgb(235, 235, 228);
}

.totalPrice {
	text-align: center;
}

/* Cart Page */
#cartHeader img
{
	display:inline-block;
	width: auto;
}

#cartHeader h2
{
	display: inline;
	padding-left: 10px;
	color: #3d5023;
}

#cartContents
{
	width: 100%;
	border: 1px solid #ccc;
	margin-top: 0.5em;
} 

#cartContents th
{
	text-align: center;
}


#cartContents tbody tr:nth-child(even)
{
	background-color: #ccc;
}

td,
th
{
	margin-right: 1%;
	width: 10%;
	text-align:center;
}

td:last-of-type,
th:last-of-type
{
	margin-right: 0;
}

.gameImg img 
{
	width: 95%;
}

.gameNumbers
 {
	width: 20%; 
	padding-left: 2%;
}

.gameNumbers input
{
	width: 2em;
	font-size: 0.9em;
	float: left;
	text-align:center;	
}

.gameNumbers:after
{
	content:'';
	clear:both;
}

.gameNumbers input.bonusBall 
{
	background-color: #C31F3A;
	color: #fff;
}

.draws input
{
	width: 3em;
	text-align:right;
}

#checkoutArea 
{
	text-align: left;	
	margin-top: 1em;
}

#cartTotal 
{
	float: right; 
	padding-right: 1em;
}


#cartTotal label 
{
	display: inline-block;
	width: auto;  
	font-size: 1.2em;
	margin-top: 3px;
}

#total
{
	display: inline-block;
	width: 5em;
	background-color: #000;
	color: #fff;
	text-align: right;
	line-height: 2em;
	font-weight: bold;
	font-size: 1.1em;
	padding-right: 5px;
}

#buttonArea
{
	clear:both;
	text-align: right;
	margin: 10px 1em 1em 0;
}

#buttonArea:after
{
	content: '';
	clear:both;
}

#confirmCheckoutBtn,
#buttonArea button
{
	box-shadow: #666 2px 2px 3px;
	padding: 0.5em;
	border-radius: 4px;
	font-weight: bold;
}

.btnActive {
	background-color: #4ba5dc;
	color: #fff;
}

#checkoutBtn
{
	background-color: #fc0;
    color: #000;
    border: none;
}

.ticketEdit {
	border-radius: 10px;
	padding: 0.2em 1.5em;
}

.editDisabled 
{
	background: #ccc;
	color: #000;
	border: 0;
	
}

#addItemBtn,
.editEnabled
{
	background-color: #005aab;
	color: #fff;
}

.selectDisabled 
{
	color: #ccc;
}

.selectEnabled 
{
	color: #000;
}

.confirmCheckout
{
	text-align: right;
	padding: 20px;
}

.caret-down::after
{
	content: "";
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #000;
	position: relative;
	display: inline-block;
	top: -0.15em;
}

.caret-up::after
{
	content: "";
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #000;
	position: relative;
	display: inline-block;
	top: -0.15em;
}

.cartContents 
{
	color: #f00;
	font-weight: bold;
}

tfoot
{
	background-color:white;
	border: 1px solid #000;
}
