<div class="addToCartArea">
	<fieldset>  
		<label> Number of Tickets:</label>
		<select ng-model="numberOfTickets" ng-init="numberOfTickets" ng-change="updateTickets()" convert-to-number>
			<option ng-repeat="ticket in getLoopNumber(currentGame.maxTicketsAllowed) track by $index" value="{{$index+1}}" >{{$index+1}}</option>
		</select>
	</fieldset>
	
	<fieldset>  
		<label> Number of Draws:</label>
		<select ng-model="userDraws" ng-options="draw.name for draw in currentGame.numberOfDrawsAllowed track by draw.value"  ng-change="drawUpdated()" > </select>
	</fieldset>
	
	<fieldset>  
		<label>Select/ Create a Group:</label>
		<select ng-model="userGroup" >
			<option ng-repeat="group in groups" value="{{group}}">{{group}}</option>
		</select>
	</fieldset>
	
	<fieldset>  
		<label>Total Price:</label>
		<input class="totalPrice" type="text" ng-model="totalPrice" disabled currency />
	</fieldset>
	
	<button class="addToCartBtn" ng-click="addToCart()"> Add To Cart </button> 
	
</div>